span {
    display: flex;
    flex-flow: row nowrap;
    width: 20%;
    justify-content: space-evenly;
    font-size: 1em;
    padding-left: 10%;
    gap:5mm;
    color:white;
}

p {
    padding-right: 10%;
    font-size: 1.2em;
    color:white;
}