
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
}


.container__edit-profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
     max-width: 80%;
    max-height: 85%;
    padding: 2em;
    background-color: #272735;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: auto;
}


.edit-profile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
    color: #ffffff;
}

.edit-details__form-label,
.container__form-label {
    display: block;
    margin-bottom: 0.5em;
}


.edit-details__form-input,
.container__form-input,
.edit-details__form-input textarea {
    width: 100%;
    padding: 0.8em;
    border-radius: 0.5em;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
    margin-bottom: 1em;
}


.edit-details__form-input textarea {
    height: 8em;
}
#closeBtn {
    cursor: pointer;
    font-size: 1.5em;
    color: #ffffff;
}

.container__edit-details-pfp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-section {
    display: flex;
    flex-direction: column;
    width: 45%; /* Adjust as needed */
}
.edit-pfp__header h2,
.edit-details__header h2,
.edit-password__header h2{

    font-size: var(--big-font-size);
    font-weight: bold;
    color: #000000;
}
.container__edit-details,
.container__edit-password,
.container__edit-pfp {
    box-sizing: border-box;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 0.5em;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 20em rgba(0, 0, 0, 0.1);
}

.container__edit-pfp {
    width: 45%;
    height: auto;
}

.container__form-button,
.container__choose-image-label,
.deleteProfile {
    display: inline-block;
    padding: 0.8em 2em;
    margin-top: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}
.container__choose-image-button {
    color: #000000;
    border-radius: 0em;
}
.container__form-button:hover,
.container__choose-image-label:hover,
.deleteProfile:hover {
    background-color: #0056b3;
}


.container__chosen-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
}

.deleteProfile {
    background-color: #dc3545;
}
