.container__edit-profile {
    background-color: #ffffff;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: auto;
    width: 50%;
    max-width: 70%;

}

.user-profile {
    position: relative;
    z-index: 1;
}

.edit-profile__header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    align-items: center;

}

.edit-profile__header h1,
#closeBtn {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.container__edit-details,
.container__edit-pfp,
.container__edit-password {
    width: 48%;
    min-width: 20%;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.container__edit-pfp{
    height: 20%;
}
.edit-details__form-label,
.edit-password__form-label {
    display: block;
    margin-bottom: 3%;
}

.edit-details__form-input,
.edit-password__form-input,
.container__form-input {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.edit-details__form-input:focus,
.edit-password__form-input:focus,
.container__form-input:focus {
    outline: none;
    border-color: #000000;
}

.container__form-button,
.container__choose-image-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto 2%;
}

.container__form-button:hover,
.container__choose-image-button:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

.edit-profile__header #closeBtn {
    cursor: pointer;
    font-size: 18px;
    color: #888888;
    transition: color 0.3s ease;
}

#closeBtn :hover {
    color: #555555;
}

#closeBtn {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.container__edit-details-pfp {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.container__choose-image-label {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: auto;
    margin: 0 auto 5px;
}

/* Hide the default input appearance */
.container__choose-image-button[type=file] {
    display: none;
}

.container__chosen-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; /* Adjusted height */
}
