/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

}

.container__edit-profile {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

.edit-profile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.edit-profile__header h1,
.fa-times {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.container__edit-details,
.container__edit-pfp,
.container__edit-password {
    margin-bottom: 3%;
    padding: 3%;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.edit-details__form,
.edit-password__form {
    margin-bottom: 2%;
}

.edit-details__form-label,
.edit-password__form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.edit-details__form-input,
.edit-password__form-input,
.container__form-input {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.edit-details__form-input:focus,
.edit-password__form-input:focus,
.container__form-input:focus {
    outline: none;
    border-color: #000000;
}

.edit-details__form-textarea {
    height: 20%;
}

/* Button styles */
.container__form-button,
.container__choose-image-button {
    padding: 14px 28px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    width: auto;
    margin: 0 auto 2%;
}

.container__form-button:hover,
.container__choose-image-button:hover {
    background-color: #333333; /* Darken button on hover */
    transform: translateY(-2px); /* Add slight lift effect */
}

/* Close icon style */
.fa-times {
    cursor: pointer;
    font-size: 24px;
    color: #888888;
    transition: color 0.3s ease;
}

.fa-times:hover {
    color: #555555;
}
