@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

footer {
    background-color: #D9D9D9;
    color: #fff;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-icons {
    margin-right: 30px;
}

.footer__social-icon {
    font-size: 30px;
    margin: 0 5px;
}

.footer__copyright {
    font-size: 20px;
    margin: 0 30px;
}
