footer {
    background-color: #D9D9D9;
    color: #fff;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

footer .content {
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center its children horizontally */
    align-items: center; /* Center its children vertically */

}

footer p {
    font-size: 20px; /* Set font size for the copyright notice */
    margin: 0 30px; /* Reduce space between the icons */
}

/* Adjust icon size and spacing */
footer i {
    font-size: 30px; /* Increase icon size */
    margin: 0 5px; /* Reduce space between the icons */
}
