.anime-body main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.top-image {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.top-image img {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
}

.aside-main-content-container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
    gap: 1.5%;
}

.aside-main-content-container .aside-anime-information {
    flex: 2;
    box-sizing: border-box;
    height: auto;
}

.navbar-main-content {
    box-sizing: border-box;
    height: auto;
    flex: 8;
    min-height: 100%;
}

.navbar-main-content nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #1d1d1f;
    height: 1.75cm;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
}

#mobile-menu {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

/*----------------- Media Querys ------------------ */

@media screen and (width >= 35rem){
    #mobile-menu {
        display: none;
    }
}

@media screen and (width < 35rem) {
    .anime-body main {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: relative;
    }

    .aside-main-content-container {
        flex-flow: column nowrap;
        gap: 2rem;
        margin-top: 5%;
    }
}