<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title> <!-- No title for sub-template -->
    <link rel="stylesheet" href="../../css/globals/globals.css">
    <link rel="stylesheet" href="../../css/character-page/anime-info-aside.css">
</head>
<body>
    <section class="anime-info-container">
        <article class="anime-data">
            <p>Airing</p>
            <p>Ep 24: 2d 14h 55m</p>
        </article>
        <article class="anime-data">
            <p>Status</p>
            <p>Releasing</p>
        </article>
        <article class="anime-data">
            <p>Episodes</p>
            <p>28</p>
        </article>
        <article class="anime-data">
            <p>Type</p>
            <p>TV</p>
        </article>
        <article class="anime-data">
            <p>Rating</p>
            <p>137877</p>
        </article>
        <article class="anime-data">
            <p>Source</p>
            <p>Manga</p>
        </article>
        <article class="anime-data">
            <p>Duration</p>
            <p>24 Minutes</p>
        </article>
        <article class="anime-data">
            <p>Season</p>
            <p>Fall 2023</p>
        </article>
        <article class="anime-data">
            <p>Year</p>
            <p>2023</p>
        </article>
        <article class="anime-data">
            <p>Studios</p>
            <p>MADHOUSE</p>
        </article>
    </section>
</body>
</html>