<link rel="stylesheet" href="../../css/globals/globals.css" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../../css/templates/anime-cover-name-description.css">
<script src="https://kit.fontawesome.com/999e77a4f5.js" crossorigin="anonymous"></script>
<section class="top-description-and-buttons">
    <section class="cover-name"></section>
    <p class="anime-description"></p>
    <section class="anime-score-container">
        <i class="fa-regular fa-star"></i>
        <p></p>
    </section>
    <section class="button-palette">
        <div class="rate-container">
            <div id="rate-container" class="anime-menu-button-container">
                <label for="rate-button" id="rate-label"> Add </label>
                <input type="button" id="rate-button">
                <i class="fa-solid fa-arrow-down"></i>
            </div>
            <div style="display: none" class="anime-dropdown-menu" id="rate-dropdown-container"></div>
        </div>
        <div class="addList-container">
            <div id="addList-container" class="anime-menu-button-container">
                <label for="addList-button" id="addList-label"> Text </label>
                <input type="button" id="addList-button">
                <i class="fa-solid fa-arrow-down"></i>
            </div>
            <div style="display: none" class="anime-dropdown-menu" id="addList-dropdown-container"></div>
        </div>
        <div class="favourite-container">
            <button type="button" class="fa fa-heart"></button>
        </div>
    </section>
</section>