<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title> <!-- No title for sub-template -->
    <link rel="stylesheet" href="../../css/globals/globals.css">
    <link rel="stylesheet" href="../../css/templates/anime-cover-name-description.css">
    <script src="https://kit.fontawesome.com/999e77a4f5.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="top-description-and-buttons">
    <section class="cover-name"></section>
    <p class="anime-description">
        The adventure is over but life goes on for an elf mage just beginning to learn
        what living is all about. Elf mage Frieren and her courageous fellow adventurers
        have defeated the Demon King and brought peace to the land. But Frieren will
        long outlive the rest of her former party. How will she come to understand what
        life means to the people around her? Decades after their victory, the funeral of
        one her friends confronts Frieren with her own near immortality. Frieren sets out
        to fulfill the last wishes of her comrades and finds herself beginning a new adventure…
    </p>
    <!---------------------------------------------------------------------------------------->
    <section class="button-palette">
        <div class="rate-container">
            <label type="hidden">
            <input type="number" placeholder="Rate" class="rate-input"
                   id="rate-input-1">
            </label>
            <button type="submit" class="fa fa-check"></button>
        </div>

        <div class="add-list-container">
            <label>
                <select class="add-list-combobox">
                    <option value="" disabled selected>Add To List</option>
                    <option> Plan To Watch </option>
                    <option> Currently Watching </option>
                    <option> Watched </option>
                    <option> Dropped </option>
                </select>
            </label>
        </div>

        <div class="favourite-container">
            <button type="button" class="fa fa-heart"></button>
        </div>
    </section>
</section>
</body>
</html>