<link rel="stylesheet" href="../../css/globals/globals.css">
<link rel="stylesheet" href="../../css/templates/bottom-footer.css">
<script src="https://kit.fontawesome.com/999e77a4f5.js" crossorigin="anonymous"></script>


<div class="bottom-footer-content">
    <span>
        <i class="fa-brands fa-linkedin footer__social-icon"></i>
        <i class="fa-brands fa-twitter footer__social-icon"></i>
        <i class="fa-brands fa-instagram footer__social-icon"></i>
        <i class="fa-brands fa-facebook footer__social-icon"></i>
        <i class="fa-brands fa-youtube footer__social-icon"></i>
    </span>
    <p><small>@Lorem Ipsum</small></p>
</div>