<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title> <!-- No title for sub-template -->
    <link rel="stylesheet" href="../../css/globals/globals.css">
</head>
<body>
    <article id="image-1" class="row-name-image" ></article>
    <article id="image-2" class="row-name-image" ></article>
    <article id="image-3" class="row-name-image" ></article>
    <article id="image-4" class="row-name-image" ></article>
    <article id="image-5" class="row-name-image" ></article>
</body>
</html>