<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title> <!-- No title for sub-template -->
    <link rel="stylesheet" href="../../css/globals/globals.css">
</head>
<body>
    <article id="image-1" class="row-name-image" ></article>
    <article id="image-2" class="row-name-image" ></article>
    <article id="image-3" class="row-name-image" ></article>
    <article id="image-4" class="row-name-image" ></article>
    <article id="image-5" class="row-name-image" ></article>
    <article id="image-6" class="row-name-image" ></article>
    <article id="image-7" class="row-name-image" ></article>
    <article id="image-8" class="row-name-image" ></article>
    <article id="image-9" class="row-name-image" ></article>
    <article id="image-10" class="row-name-image" ></article>
    <article id="image-11" class="row-name-image" ></article>
    <article id="image-12" class="row-name-image" ></article>
    <article id="image-13" class="row-name-image" ></article>
    <article id="image-14" class="row-name-image" ></article>
    <article id="image-15" class="row-name-image" ></article>
    <article id="image-16" class="row-name-image" ></article>
    <article id="image-17" class="row-name-image" ></article>
    <article id="image-18" class="row-name-image" ></article>
    <article id="image-19" class="row-name-image" ></article>
    <article id="image-20" class="row-name-image" ></article>
</body>
</html>