<div class="user-profile__nav">
    <a class="nav-item" href="../profile-pages/profileOverview.html">
        <div class="user-profile__nav-item">Overview</div>
    </a>
    <a class="nav-item" href="../profile-pages/profileWatching.html">
        <div class="user-profile__nav-item">Currently Watching</div>
    </a>
    <a class="nav-item" href="../profile-pages/profileCompleted.html">
        <div class="user-profile__nav-item">Completed</div>
    </a>
    <a class="nav-item" href="../profile-pages/profilePlanToWatch.html">
        <div class="user-profile__nav-item">Plan to Watch</div>
    </a>
    <a class="nav-item" href="../profile-pages/profileFavorites.html">
        <div class="user-profile__nav-item">Favorites</div>
    </a>
</div>
