<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title> <!-- No title for sub-template -->
    <link rel="stylesheet" href="../../css/globals/globals.css">
    <link rel="stylesheet" href="../../css/templates/ranking-position.css">
</head>
<body>
    <div class="position-content">
        <p class="position-number">Text</p>
        <p class="position-title">Text</p>
        <p class="position-score">Text</p>
        <p class="position-status">Text</p>
    </div>
</body>
</html>