<link rel="stylesheet" href="../../css/globals/globals.css">
<link rel="stylesheet" href="../../css/templates/search-bar.css">
<script src="https://kit.fontawesome.com/999e77a4f5.js" crossorigin="anonymous"></script>
<div class="search-bar-container">
    <section class="search-input">
        <label for="search-input-label"> Text </label>
        <div class="search-input-label-and-button">
            <input type="search" class="search-input-label" id="search-input-label">
            <button type="submit" class="fa fa-search"></button>
        </div>
    </section>
    <section id="genres-select-input" class="search-bar-input">
        <div class="dropdown-button-container">
            <label for="genre-dropdown-button"> Text </label>
            <button id ="genre-dropdown-button" type="button" class="dropdown-button"></button>
            <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div style="display: none" id="genre-dropdown-list" class="dropdown-list-container"></div>
    </section>
    <section id="year-select-input" class="search-bar-input">
        <div class="dropdown-button-container">
            <label for="year-dropdown-button"> Text </label>
            <button id ="year-dropdown-button" type="button" class="dropdown-button"></button>
            <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div style="display: none" id="year-dropdown-list" class="dropdown-list-container"></div>
    </section>
    <section id="season-select-input" class="search-bar-input">
        <div class="dropdown-button-container">
            <label for="season-dropdown-button"> Text </label>
            <button id ="season-dropdown-button" type="button" class="dropdown-button"></button>
            <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div style="display: none" id="season-dropdown-list" class="dropdown-list-container"></div>
    </section>
    <section id="format-select-input" class="search-bar-input">
        <div class="dropdown-button-container">
            <label for="format-dropdown-button"> Text </label>
            <button id ="format-dropdown-button" type="button" class="dropdown-button"></button>
            <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div style="display: none" id="format-dropdown-list" class="dropdown-list-container"></div>
    </section>
</div>