<link rel="stylesheet" href="../../css/globals/globals.css">
<link rel="stylesheet" href="../../css/templates/search-bar.css">
<script src="https://kit.fontawesome.com/999e77a4f5.js" crossorigin="anonymous"></script>

<div class="search-bar-container">
    <div class="search-input">
        <label for="search-input-label"> Search </label>
        <div class="search-input-label-and-button">
            <input type="search" class="search-input-label" id="search-input-label">
            <button type="submit" class="fa fa-search"></button>
        </div>
    </div>
    <div id="genres-select-input" class="select-input">
        <label for="genre-select"> Text </label>
        <select class="search-select" id="genre-select"></select>
    </div>
    <div id="year-select-input" class="select-input">
        <label for="year-select"> Text </label>
        <select class="search-select" id="year-select"></select>
    </div>
    <div id="season-select-input" class="select-input">
        <label for="season-select"> Text </label>
            <select class="search-select" id="season-select"></select>
    </div>
    <div id="format-select-input" class="select-input">
        <label for="format-select"> Text </label>
        <select class="search-select" id="format-select"></select>
    </div>
</div>