<link rel="stylesheet" href="../../css/globals/globals.css">
<link rel="stylesheet" href="../../css/templates/search-bar.css">
<script src="https://kit.fontawesome.com/999e77a4f5.js" crossorigin="anonymous"></script>

<div class="search-bar-container">
    <div class="search-input">
        <label for="search-input-label"> Search </label>
        <div class="search-input-label-and-button">
            <input type="search" class="search-input-label" id="search-input-label">
            <button type="submit" class="fa fa-search"></button>
        </div>
    </div>
    <div id="genres-combo-box-input" class="combo-box-input">
        <label for="genre-combo-box-select"> Text </label>
        <select class="combo-box-select" id="genre-combo-box-select"></select>
    </div>
    <div id="year-combo-box-input" class="combo-box-input">
        <label for="year-combo-box-select"> Text </label>
        <select class="combo-box-select" id="year-combo-box-select"></select>
    </div>
    <div id="season-combo-box-input" class="combo-box-input">
        <label for="Season-combo-box-select"> Text </label>
            <select class="combo-box-select" id="Season-combo-box-select"></select>
    </div>
    <div id="format-combo-box-input" class="combo-box-input">
        <label for="Format-combo-box-select"> Text </label>
        <select class="combo-box-select" id="Format-combo-box-select"></select>
    </div>
</div>