<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/999e77a4f5.js"></script>
</head>
<body>

<meta charset="UTF-8">

<div class="position-content">
    <p class="position">Text</p>
    <section class="progress">
        <i class="fa-solid fa-minus" id="minusBtn"></i>
        <span class="progress-counter" id="counter">0</span>
        <i class="fa-solid fa-plus" id="plusBtn"></i>
    </section>
    <p class="position">Text</p>
    <p class="position">Text</p>
</div>

</body>
</html>
