<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/globals/globals.css">
    <link rel="stylesheet" href="../../css/templates/top-header.css">
</head>
<body>
<div class="top-header-content">
    <img alt="logo of our website" src="../../resources/images/image.png" title="web-logo">
    <nav>
        <a href="index.html">Home</a> <!-- Expected to be an anchor to another page in the website -->
        <a target="_blank">Text</a> <!-- Expected to be an anchor to another page in the website -->
        <a target="_blank">Text</a> <!-- Expected to be an anchor to another page in the website -->
    </nav>
    <div class="top-header-content-buttons">
        <button onclick="location.href='login.html'" name="Log out">Text</button>
    </div>
</div>
</body>
</html>