<link href="../../css/templates/top-header.css" rel="stylesheet">

<div class="top-header-content">
    <img alt="logo of our website" src="../../resources/images/image.png" title="web-logo">
    <nav>
        <a href="../index-page/index.html">Text</a>
        <a href="../ranking-page/ranking-page.html">Text</a>
        <a href="../profile-pages/profileOverview.html">Text</a>
    </nav>
    <div class="top-header-content-buttons">
        <button name="Log out" onclick="location.href='../index-page/index.html'">Text</button>
    </div>
</div>
