/*
Styling the body of our index HTML page. Dimension equals viewport.
Margin none and sizing including paddings and borders.
*/

/* Styling the main content of our index HTML page. Height defined by the
browser to fill the space. Width to full screen. Overflow set. Box sizing
including paddings and borders. */

#index-body main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid transparent;
}

/* -------------------------- Hero Image -------------------------- */

/* Styling container holding main hero elements. Position relative to the
document. Width to full screen. Height defined by the browser to fill the
space. Box sizing including paddings and borders. Acts as a flex container
to the hero image elements */

.hero-box {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* Styling container holding main hero image and text. Loaded using JavaScript.
Width to full screen and height defined by the browser to fill content. Acts as
a flex container to the hero image elements in the embedded html file. */

.hero-box article {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* Hero image embedded in the container styled above. Dimensions to fill the viewport.*/

.hero-box article img {
    width: 100vw;
    height: 100vh;
}

/* Anime name embedded in the container styled above. Overflow set. */

.hero-box article p {
    font-size: var(--medium-big-font-size);
    max-width: 75%;
    max-height: 7.5%;
    overflow: auto;
    top:55%;
    font-weight: bold;
}

/* Anime description. Overflow set. */

.hero-box p {
    position: absolute;
    max-width: 50%;
    max-height: 25%;
    overflow: auto;
    top:65%;
    background: #1d1d1fbb;
    color: white;
    padding: 0.75%;
    border-radius: 15px;
    line-height: 0.50cm;
}

/* -------------------------- Search Bar -------------------------- */

#search-bar {
    padding-top: 6%;
    padding-bottom: 6%;
}

/* -------------------------- Anime Rows -------------------------- */

.anime-row-container .row-descriptor {
    height: 10%;
    color: white;
    text-align: center;
    padding-bottom: 1%;
    font-size: var(--medium-big-font-size);
    font-weight: bold;
}

.anime-row {
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3.5rem;
    row-gap: 1rem;
    padding: 0 3% 0 3%;
    margin-bottom: 5%;
}

.anime-row .row-name-image {
    position: relative;
    object-fit: cover;
    height: 45vh;
    min-height: 10cm;
    width: 15%;
    min-width: 5cm;
    box-sizing: border-box;
}

.anime-row .row-name-image p {
    position: absolute;
    top: -2%;
    color: white;
    opacity: 75%;
    height: 10%;
    width: 100%;
    text-align: center;
}

.anime-row .row-name-image img {
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
}

#mobile-menu {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

/*----------------- Media Querys ------------------ */

@media screen and (width >= 35rem){
    #mobile-menu {
        display: none;
    }
}

@media screen and (width < 35rem) {
    #index-body main {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: 1px solid transparent;
        position: relative;
    }

    #hero-anime-description {
        max-width: 75%;
    }
}

