/*--------------------------------------------------------------------------------------------------------------------*/
.navbar-main-content .characters {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    max-height: 98%;
    height: 98%;
}


