.anime-character-container {
    flex: 1;
    position: relative;
    margin-top: 0.5%;
    background: #1d1d1f;
    box-shadow: 0 0 3px black;
    min-height: 8cm;
    max-height: 8cm;
}

.anime-character-container .character-description {
    position: absolute;
    width: 70%;
    height: fit-content;
    max-height: 8rem;
    overflow: auto;
    inset: 0;
    margin: auto;
    color: white;
    text-align: center;
    overflow: scroll;
    font-weight: bold;
}
.character-description::-webkit-scrollbar {
    display: none;
}
.anime-character-container::-webkit-scrollbar {
    display: none;
}
.characters .anime-character-name-image {
    box-sizing: border-box;
    min-height: 8cm;
    width: 100%;
    height: 100%;
    top: 0;
}

.anime-character-name-image img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.anime-character-name-image p {
    position: absolute;
    text-align: center;
    color: white;
    inset: 0;
    margin: auto;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    max-height: 5rem;
    font-size: var(--big-font-size);
}

/* --------------- Media Querys ------------------ */

@media screen and (width < 35rem){

    .anime-character-container {
        min-height: 10cm;
    }

    .anime-character-container .character-description {
        inset: 0;
        top: 30%;
        margin: auto;
    }
}