.episodes .episode:nth-child(even) {
    background: #1d1d1f;
}

.episodes .episode:nth-child(odd) {
    background: #1d1d1f55;
}

.anime-episode-container {
    flex : 1;
    position: relative;
    min-height: 2cm;
    max-height: 2cm;
    color: white;
    text-align: center;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-shadow: 0 0 0.05rem white;
    padding: 0 2.5% 0 2.5%;
}

.anime-episode-container .episode-number {
    flex:2;
}

.anime-episode-container .episode-name {
    flex:10;
    color: lightsteelblue;
    font-weight: bold;
}

.anime-episode-container .episode-duration {
    flex:5;
}

.anime-episode-container .episode-aired {
    flex: 5;
}

