#overlay {
    position: absolute;
    height: 61em;;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5em);
    z-index: 9998;
}

.average-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 2em;
    border-radius: 0.8em;
    box-shadow: 0 2em 5em rgba(0, 0, 0, 0.2);
    z-index:9999;
    text-align: center;
}

.average-popup-text {
    margin-bottom: 2em;
}

.average-popup-bottom {
    display: flex;
    justify-content: center;
}

.bottom-accept, .bottom-decline {
    padding: 1em 2em;
    margin: 0 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-accept {
    background-color: #007bff;
    color: #ffffff;
}

.bottom-decline {
    background-color: #dc3545;
    color: #ffffff;
}

.bottom-accept:hover, .bottom-decline:hover {
    filter: brightness(90%);

}
