.user-profile-table {
    height: 100%;
    max-height:100%;
    width: 100%;
    flex-direction: column;
}

.table-descriptor {
    height:10%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: var(--small-font-size);
}

.table-descriptor {
    background-color: #1D1D1F;
}

.table-descriptor > p {
    flex: 1;
    text-align: center;
    color: white;
}

.positions {
    height: 90%;
    display:block;
    color: #f5f5f5;
    overflow: auto;
}

.positions::-webkit-scrollbar {
    display: none;
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: #f8f8f8;
}

.position-content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
}

.position-content:before {
    content: "";
    position: absolute;
    background-image: url("../../resources/images/image.png");
    inset: 0;
    z-index: 0;
    opacity: 0.25;
    filter: blur(0.4em);
}

.position-content > * {
    flex: 1;
    text-align: center;
    padding: 1.5em;
}

.progress {
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}