.position-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 4cm;
    position: relative;
    align-items: center;
    text-align: center;
    color: white;
    font-size: var(--big-font-size);
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1%);
    gap: 2%;
}

.position-content img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(0.5mm);
    opacity: 0.3;
    box-sizing: border-box;
}

.position-content .position-number {
    flex: 1;
    white-space: nowrap;
    overflow: auto;
    position: relative;
}

.position-content .position-title {
    flex: 1;
    white-space: nowrap;
    overflow: auto;
    position: relative;
}

.position-content .position-score {
    flex: 1;
    white-space: nowrap;
    overflow: auto;
    position: relative;
}

.position-content .position-status {
    flex: 1;
    white-space: nowrap;
    overflow: auto;
    position: relative;
}
.positions::-webkit-scrollbar {
    display: none;
}

/* -------------- Media Querys ---------------- */

@media screen and (width < 70rem){
    .position-content {
        font-size: var(--medium-big-font-size);
    }
    .position-content .position-number {
        max-height: 7.5rem;
        white-space: unset;
    }
    .position-content .position-title {
        max-height: 7.5rem;
        white-space: unset;
    }
    .position-content .position-score {
        max-height: 7.5rem;
        white-space: unset;
    }
    .position-content .position-status {
        max-height: 7.5rem;
        white-space: unset;
    }
}

@media screen and (width < 35rem){
    .position-content {
        font-size: var(--medium-font-size);
    }
}