.search-bar-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 75%;
    gap: 1cm;
    margin: auto;
    box-sizing: border-box;
    height: 6.75vh;
    min-height: 1.5cm;
}

/*------------------  Search Label, Icon and Bottom ------------------*/

.search-input {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
}

.search-input label {
    color: #fff;
}

.search-input .search-input-label-and-button {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;
    background: white;
    border: 1px solid #1d1d1f;
    border-radius: 7px 10px 10px;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    height: 68%;
}

.search-input .search-input-label-and-button input {
    width: 100%;
    border: none;
    border-radius: 20px;
}

.search-input .search-input-label-and-button input:hover {
    border: none;
}

.search-input .search-input-label-and-button button {
    width: 25%;
    background: white;
    font-size: var(--medium-small-font-size);
    border: none;
    min-width: 0.6cm;
}

/*--------------------------  Combo-Boxes  --------------------------*/

.search-bar-input {
    position: relative;
    flex: 1;
    box-sizing: border-box;
    height: 100%;
}

.search-bar-input .dropdown-button-container {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    height: 100%;
}

.dropdown-button-container label {
    flex: 3;
    color: white;
}

.dropdown-button-container .dropdown-button {
    flex: 7;
    width: 100%;
    font-size: var(--medium-small-font-size);
    background: white;
    border: 1px solid #1d1d1f;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1);
}

.dropdown-button-container i {
    position: absolute;
    right: 10%;
    top: 55%;
}

/*--------------------------------- DropDown Menus ---------------------------------*/

.search-bar-input .dropdown-list-container {
    display: none;
    flex-flow: column nowrap;
    height: auto;
    color: white;
    background: #1d1d1faa;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1);
    width: auto;
    font-size: var(--medium-small-font-size);
    max-height: 10cm;
    overflow: auto;
    position: relative;
    z-index: 1;
}

.dropdown-option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 50%;
    margin: 5%;
}
