#overlay {
    position: absolute;
    top: 2cm;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;

}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    max-width: 25em;
    width: 80%;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: absolute;
    max-height: fit-content;
    inset: 2cm 0 0 0;
    margin: auto;
    box-sizing: border-box;
    border-radius: 1.5rem;
    border: 1px solid #1d1d1f;
}

#closeSignInBtn,
#closeLoginBtn {
    position: absolute;
    top: 1.5em;
    right: 2em;
    font-size: var(--medium-font-size);
    cursor: pointer;
    color: #333;
}

#closeSignInBtn,
#closeLoginBtn:hover {
    color: #000000;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-form-label {
    font-size: var(--medium-font-size);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-form-label > span {
    margin-right: 1rem;
}

.container-form-input {
    width: 70%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2em solid #ccc;
}
.container-form-input:focus {
    outline: none;
    border: 0.2em solid #6f849b;
}
.container-form-button {
    padding: 1rem 2rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
    font-size:var(--medium-font-size);
    text-align: center;
    width: fit-content;
    cursor: pointer;
    align-self: center;
}
.container-form-button:hover {
    background-color: #333;
}
.container-header {
    text-align: center;
    margin-bottom: 2em;
}

.container-title {
    font-size: var(--big-font-size);
    margin-bottom: 3em;
    color: #333;
}
.container-form-input:valid {
    border-color: green;
}
.container-form-input:invalid:focus {
    border-color: red;
}

@media screen and (width <= 35rem) {
    #overlay {
        display: none;
    }

    .container {
        inset: 0;
        min-width: 100vw;
        min-height: 100vh;
        margin-top: 2cm;
        border-radius: 0;
        background: #ffffffff;
    }

}