.info-ban {
    background: #1d1d1faa;
    height: 1.25cm;
    box-sizing: border-box;
    position: relative;
    color: white;
    margin: 3% 10% 0 10%;
    font-size: var(--medium-font-size);
    opacity: 0.8;
}

.info-ban .info-message {
    position: absolute;
    margin: auto;
    inset: 0;
    text-align: center;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}

.ranking-table .table-descriptor {
    background: #1d1d1f;
    height: 1.5cm;
    box-sizing: border-box;
    margin: 0 10% 0 10%;
    text-align: center;
    color: white;
    display: flex;
    flex-flow: row nowrap;
}

.table-descriptor #descriptor-position {
    flex: 1;
}

.table-descriptor #descriptor-title {
    flex: 1;
}

.table-descriptor #descriptor-score {
    flex: 1;
}

.table-descriptor #descriptor-status {
    flex: 1;
}

.ranking-table .positions {
    max-height: 40cm;
    overflow: auto;
    margin: 0 10% 0 10%;
}

#footer {
    margin-top: 3%;
}

/* ------------ Media Querys ------------- */

@media screen and (width < 70rem){
    .info-ban {
        margin: 3% 5% 0 5%;
        font-size: var(--medium-small-font-size);
    }

    .ranking-table .table-descriptor {
        margin: 0 5% 0 5%;
    }

    .ranking-table .positions {
        margin: 0 5% 0 5%;
    }
}

@media screen and (width < 35rem){
    .info-ban {
        margin: 3% 2.5% 0 2.5%;
        font-size: var(--small-font-size);
    }

    .ranking-table .table-descriptor {
        margin: 0 2.5% 0 2.5%;
    }

    .ranking-table .positions {
        margin: 0 2.5% 0 2.5%;
    }
}